@charset "utf-8";
/* CSS Document */


/* Font */

@font-face {
	font-family: 'Roboto Slab';
	src: url('font/hinted-RobotoSlab-Light.eot');
	src: url('font/hinted-RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-RobotoSlab-Light.woff') format('woff'),
		url('font/hinted-RobotoSlab-Light.ttf') format('truetype'),
		url('font/hinted-RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('font/Roboto-Regular.ttf');
	font-weight: 300;
	font-style: normal;
}

/* Standaard attributen */

html{
	min-height: 100%;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body{
	min-height: 100%;
	background:fixed;
	background-color: black;
	background-image:url(images/background.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	font-family: Roboto Slab;
	color: #252525;
	display: flex;
	justify-content: center;
}

p {
	font-size: 25px;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 40px;
	text-transform:   uppercase;
}

/* Belangrijke div-tags */

#all_content{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#content {
	display: flex;
	flex-direction: column;
	width:95%;
 	height: 100%;
}

#menubalk {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left:10px;
	padding-right:10px;
	width: 100%;
    height: 80%;
	margin-top: 0%;
	background-color: #1E1E1E;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.53);
	box-sizing: border-box;
}

#hoofdtekst {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color:#FC6;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.53);
	box-sizing: border-box;
	text-align:center;
}

#footer {
	font-size:18px !important;
	color: #FFF;
	background-color:#1E1E1E;
	padding: 20px;
	width: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.53);
	box-sizing: border-box;
}

/* Layout Footer */

.footer_copyright{
    text-decoration: none;
    color: white;
    margin: 0px 2px;
}

.footer_copyright:hover{
    text-decoration: underline;
}

.footer_tekst{
    display: flex;
}

/* Layout Homepage */

.home_parent{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.menublok_homepage {
	min-width:100%;
	max-height: 275px;
    align-items: center;
    justify-content: center;
  	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	-moz-transform: translateZ(0);
	transform: translateZ(0);
  	-moz-box-shadow: 1px 0px 1px #666666;
	box-shadow: 1px 1px 1px #666666;
	font-size: 40px;
	text-shadow: 1px 1px 10px #666666;
    height: 300px;
	opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    background-size:cover;
	background-repeat: no-repeat;
    white-break: break-all; 
    word-wrap: break-word;
}

.menublok_homepage:hover, .menublok_homepage:focus, .menublok_homepage:active{
    opacity: 1.0;
	transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
}

#linksboven{
    background-image: url('images/glas_kets.jpg');
}

#rechtsboven{
		background-image: url('images/events.jpg');
}

#linksmidden{
	background-image: url('images/glas_kets.jpg');
}

#rechtsmidden{
	background-image: url('images/de_kern.jpg');
}

#linksonder{
	background-image: url('images/vuurwerk.jpg');
}

#rechtsonder{
	background-image: url('images/birthday.jpg');
}

#beschrijving_header{
	align-items: flex-start;
	padding-top: 2px;
}

.menublokken{
	border-radius: 10px;	
    overflow: hidden;
	font-size: 20px;
	width: 100%;
}

.menublokken_header{
	display: flex;
	align-items: center;
	width: 50% !important;
	margin: 10px;
}

.menublokken_tekst{
	display: flex;
	align-items: center;
}

.menublokken_info{
	padding-left: 20px;
}

.menublokken_form{
	display: flex;
	align-items: center;
}

.menublokken_datum{
	display: flex;
	align-items: center;
	width: 50% !important;
}

.menublokken_gasten{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menublokken_foto{
	display: flex;
	align-items: center;
	width: 50% !important;
}

.menublokken_foto_review{
	display: flex;
	align-items: center;
	width: 50% !important;
}

.menublokken_fotos{
	width: 50% !important;
}

.menublokken_review{
	display: flex;
	align-items: center;
	width: 100%;
	padding-left: 20px;
}

.datum{
	display: flex;
	flex-direction: column;
}

.landing_event{
	font-size: 20px;
}

.landing_organiser{
	font-size: 20px;
}

.landing_email{
	font-size: 20px;
}

.stap_1_h
{
	text-shadow: none;
	font-weight: bold;
	color: white;
	font-size:30px;
}

.stap_2_h{
	text-shadow: none;
	font-weight: bold;
	color: white;
	padding-top: 5px;
	font-size:30px;
}

.InfoText
{	
	color: black;
	text-shadow: none;
	font-size: 24px;
	text-transform: none;
}

#reviewText
{
	text-shadow: none;
	font-size: 20px;
	text-transform: none;
}

.menublok{
	display: flex;
	padding: 0%;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 10px;
	list-style-type:none;	
    overflow: hidden;
	text-decoration:none;
	text-transform: uppercase;
	-moz-text-shadow: 10px 10px 5px rgba(0, 0, 0, 1);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	color: white;
	text-align:start;
}

.menublok_nieuw_op_site{
	width: 100%;
	justify-content: center;
	font-size: 	50px;
	margin: 10px;
}

.menublok_review{
	background-color: #1E1E1E;
	justify-content: center;
	font-size: 	20px;
	margin: 10px;
	border: 1px;
	width: 100%;
}

.menublok_landing{
	background-color: #1E1E1E;
	width: 100%;
	min-height: 100px !important;
	justify-content: space-around;
	font-size: 	50px;
	margin: 10px;
	border: 1px;
}

.menublok_info{
	background-color: #1E1E1E;
	width: 100%;
	justify-content: center;
	font-size: 	20px;
	margin: 10px;
	border: 1px;
}

.menubalk{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0%;
	margin-bottom: 20px;
	margin-top: 0px;
	justify-content: space-around;
	border-radius: 10px;
}

.personen_info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aanwezigheidsform{
	width:100%;
}

.aanwezig{
}

.menudetails{
	border-radius: 10px;
    text-align: center;
    text-decoration: none;
	margin-left: 14%;
	margin-right: 14%;
	margin-top: 15%;
	margin-bottom: 15%;
	display: flex;
}

.textsize{
	font-size:20px;
	text-align: left;
}
.textbalken{
	display: inline-flex;
	border-radius: 10px;
	list-style-type:none;	
	width: 46%;
	font-size: 20px;
	margin-top: 0px;	
}

.hoofdbalken{
	display: inline-flex;
	justify-content: center;
	border-radius: 10px;
	list-style-type:none;	
	width: 100%;
	font-size: 20px;
	margin-bottom: 0px;	
	margin-left: 15px;
}

.image_details{
	width: 100%;
	height: 100%;
	transition: width 0.3s height 0.3s;
    -moz-transition: width 0.3s height 0.3s;
    -webkit-transition: width 0.3s height 0.3s;
	border-radius:10px;
}
.image_questionmark{
	width: 50%;
	height: 50%;
}

.review_picture{
	width: 75%;
	height: 75%;
	padding-left: 40px;
}

.review_picture1{
	min-height:180px;
}

.review_picture2{
	min-height: 255px;
}

.review_picture3{
	min-height:240px;
}

.review_projectW{
	width: 25%;
	height: 25%;
}

/* Layout uitgenodigdVoor.php*/

.uitgenodigd_links
{
    width: 40%;
}

.uitgenodigd_rechts
{
    width: 40%;
}

/* layout registreer.php */

.geslacht{
	display: flex;
}

/* Layout events.php */

.events{
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.layout_events{
	min-height:200px;
	max-height:255px;
    display: inline-block;
  	vertical-align: middle;
	text-align:center;
  	-webkit-transform: translateZ(0);
  	-moz-transform: translateZ(0);
	transform: translateZ(0);
  	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	text-align: center;
	width: 100%;
	height: 100%;
	font-family:Roboto Slab;
	font-size: 40px;
	padding: 30px;
	border-radius: 10px;
	text-decoration:none;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
	color: white;
	background-color: #1E1E1E;
    background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.layout_events_tekst{
	font-size:60px !important;
}

.layout_events:hover, .layout_events:focus, .layout_events:active{
 	opacity: 1.0;
    transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
}

#nieuw_event_knop {
	 	background-image: url('images/hover_pic_nieuw_event.jpg');
}

#mijn_events_knop {
    background-image: url('images/hover_pic_mijn_events.jpg');
}

#events_uitgenodigd_knop {
background-image: url('images/hover_pic_events_uitgenodigd.jpg');
}

#open_events_knop {
    background-image: url('images/hover_pic_open_events.jpg');
}

/* Layout nieuw.php */

.form_nieuw {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Layout all_events.php */

.open_event_links{
    margin-left: 10px;
    width: 30%;
}

.open_event_midden{
    width: 50%;
}

.open_event_rechts{
    width: 20%;
}

/* Layout overzicht.php*/

#my_events{
	width:90%;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	background-color: #FDFEE2;
	border-radius: 3px;
}

.feestnaam {
    display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 3px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	font-family:Roboto Slab;
	text-decoration:none;
	text-transform: uppercase;
	width: 100%;
	height: 80px;
    text-decoration: none;
    boxing-size: border-box;
}

.feestnaam:hover, .feestnaam:focus, .feestnaam:active {
    background-color: #E9AB1B;
	color: white;
	-webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 0px 0px 1px #666666;
  	box-shadow: 0px 0px 1px #666666;
    cursor: pointer;
}

.overzicht_tekst{
	margin-right: 50%;
	text-decoration:none;
	text-shadow: 0px 0px 1px #666666;
	color: #666;
}

.overzicht_tekst:hover{
	color: white;
}

.spantest{
	display:flex;
	align-items: center;
	justify-content: center;
  	position:absolute; 
  	width:100%;
  	height:100%;
  	top:0;
  	left: 0;
  	z-index: 1;
	color: black;
	font-size:25px;
}

.spantest:hover{
	color: white !important;
}


.overzicht_links{
	margin-right: 60%;
	z-index: 10000;
}

.overzicht_rechts{
    margin-right: 2%;
	z-index: 10001;
}

.bewerkknop_overzicht{
    background-image: url(images/edit.png);
	background-position:  0px 1px;
	background-size: 100%;
	background-repeat:no-repeat;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
    width: 40px;
    height: 42px;
}

.bewerkknop_overzicht:hover{
    background-image: url(images/edit_hover.png);
	background-position:  0px 1px;
	background-size: 100%;
	background-repeat:no-repeat;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
    width: 40px;
    height: 42px;
}

.event_remove{
    width: 40px;
    height: 42px;
}

.event_edit{
    width: 40px;
    height: 42px;
}

.verwijderknop_overzicht{
	background-image: url(images/delete.png);
	background-position:  0px 1px;
	background-size: 100%;
	background-repeat:no-repeat;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
    width: 40px;
    height: 42px;
}

.verwijderknop_overzicht:hover{
	background-image: url(images/delete_hover.png);
	background-position:  0px 1px;
	background-size: 100%;
	background-repeat:no-repeat;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
}


/* Layout menubalk.php */

.menu_lijst {
	display: flex;
	justify-content: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	list-style-type:none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
	width: 98%;
	font-size: 20px;
}

.menu_lijst_blok {
	background-color: #f3f3f3;
    display: inline-block;
	width: 20%;
}

.menu_lijst_blok_links {
	background-color: #f3f3f3;
    display: inline-block;
	width: 20%;
}

.menu_lijst_blok_rechts {
	background-color: #f3f3f3;
    display: inline-block;
	width: 20%;
}

.menu_lijst_blok a {
    display: inline-block;
	border-radius: 0px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
    text-align: center;
	padding: 5%;
    text-decoration: none;
}

.menu_lijst_blok a:hover, .menu_lijst_blok a:focus, .menu_lijst_blok a:active {
    background-color: #ddd;
	color: #666;
}

.menu_lijst_blok_rechts a {
    display: inline-block;
	border-top-right-radius: 10px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
    text-align: center;
	padding: 5%;
    text-decoration: none;
    text-decoration: none;
}

.menu_lijst_blok_rechts a:hover, .menu_lijst_blok_rechts a:focus, .menu_lijst_blok_rechts a:active {
    background-color: #ddd;
	color: #666;
}

.menu_lijst_blok_links a {
    display: inline-block;
	border-top-left-radius: 10px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
    text-align: center;
	padding: 5%;
    text-decoration: none;
}

.menu_lijst_blok_links a:hover, .menu_lijst_blok_links a:focus, .menu_lijst_blok_links a:active {
    background-color: #ddd;
	color: #666;
}

.menu_picture {
	width: 70%;
	height: 70%;
}

#dropdown_wrap{
}


.dropdown_menu{
	position: absolute;
	z-index: 10000;	
	display: none;
	width: 14.333%;
}


.dropdown{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	width:100%;
}

.dropdown_block{
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
	text-align:center;
	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
 	cursor: pointer;
}

.dropdown_block:hover{
	background-color: #ddd;
}

#layout_bovenkant_dropdown {
	
}

#layout_onderkant_dropdown {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#layout_onderkant_dropdown:hover{

}

.padding_knop {
	padding: 5%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.dropdown_picture{
	width: 70%;
}

.menu_lijst_blok_rechts:hover ~ .dropdown{
  	display: block;
	
}


.menu_lijst_blok_rechts:hover .dropdown{
	border-bottom-right-radius: 10px;
}

/* Layout employment.php */

.employment_list{
	width:70%;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	background-color: #FDFEE2;
	border-radius: 3px;
}

/* Layout Inloggen.php */

.login_knoppen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* Layout nieuw.php */

.textfield_newevent {
	margin-top: 10px;
}

/* Layout MainEvent.php */

.textfield_beschrijving{
    font-family: inherit;
}

.layout_mainevent{
    margin-top: 20px;
    display: flex;
}

.beschrijving_event{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.verzend_mainevent{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.check {
	width: 80%;
	height: 80%;
}

.link_mainevent {
    display: inline-block;
	border-radius: 3px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
	text-shadow: 0px 0px 1px #666666;
  	-webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 0px 0px 1px #666666;
  	box-shadow: 0px 0px 1px #666666;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	font-family:Roboto Slab;
	font-size: 25px;
	background-color: #FDFEE2;
	color: #666;
	text-decoration:none;
	text-transform: uppercase;
    text-align: center;
	width: 100%;
    boxing-size: border-box;
    padding: 44px 3px;
}

.link_mainevent:hover, .link_mainevent:focus, .link_mainevent:active {
    background-color: #E9AB1B;
	color: white;
}

.p_mainevent{
	display: inline-block;
	border-radius: 3px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
	text-shadow: 0px 0px 1px #666666;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	font-family:Roboto Slab;
	background-color: #CBCABE;
	color: #666;
	text-decoration:none;
	text-transform: uppercase;
    text-align: center;
	width: 100%;
    boxing-size: border-box;
    padding: 14px 3px;
}

.table {
	display:flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: column;
    width: 50%;
    height: 100%; 	
}

.tablerow {
 	width: 100%;
	height: 20%;
    display: flex;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.left-cell{
    width: 22%;
	height: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5%;
}

.middle-cell {
	-webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 1px 0px 1px #666666;
  	box-shadow: 1px 1px 1px #666666;
	font-family: Roboto Slab;
	background-color: #CBCABE;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
    text-align: center;
	margin-right: 4%;
	margin-left: 4%;
	border-radius: 3px; 
    width: 150%;
	height: 100%;
   	display: flex;
	align-items: center;
}

.right-cell {
	align-items: center;
    width: 20%;
	height: 100%;
    display: flex;
}

@-webkit-keyframes aan-knop {
  50% {
    background-color: #008000;
  }
}

@keyframes aan-knop {
  50% {
    background-color: #008000;
  }
}

.aan-knop {
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
 	-webkit-border-radius: 3;
 	-moz-border-radius: 3;
 	border-radius: 3px;
 	text-shadow: 1px 1px 3px black;
    -webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 1px 0px 1px #666666;
  	box-shadow: 1px 1px 1px #666666;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	overflow: hidden;
  	-webkit-transition-duration: 0.75s;
  	transition-duration: 0.75s;
  	-webkit-transition-property: color, background-color;
  	transition-property: color, background-color;
	background-color: #008000;
  	color: #ffffff;
	font-family:Roboto Slab;
	text-decoration:none;
	text-transform: uppercase;
	width: 100%;
  	font-size: 14px;
	padding: 30.5px 40px;
	border: none;
}

.aan-knop:hover, .aan-knop:focus, .aan-knop:active {
    -webkit-animation-name: aan-knop;
    animation-name: aan-knop;
  	-webkit-animation-duration: 1.5s;
  	animation-duration: 1.5s;
  	-webkit-animation-delay: 0.75s;
  	animation-delay: 0.75s;
  	-webkit-animation-timing-function: linear;
  	animation-timing-function: linear;
  	-webkit-animation-iteration-count: infinite;
  	animation-iteration-count: infinite;
  	color:white;
  	background-color: #0F0;
  	text-decoration: none;
  	cursor: pointer;
}

@-webkit-keyframes uit-knop {
  50% {
    background-color: #9D0000;
  }
}

@keyframes uit-knop {
  50% {
    background-color: #9D0000;
  }
}

.uit-knop {
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
 	-webkit-border-radius: 3;
 	-moz-border-radius: 3;
 	border-radius: 3px;
 	text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 1px 0px 1px #666666;
  	box-shadow: 1px 1px 1px #666666;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	overflow: hidden;
  	-webkit-transition-duration: 0.75s;
  	transition-duration: 0.75s;
  	-webkit-transition-property: color, background-color;
  	transition-property: color, background-color;
	background-color: #9D0000;
  	color: #ffffff;
	font-family:Roboto Slab;
	text-decoration:none;
	text-transform: uppercase;
  	font-size: 14px;
	width:100%;
	padding: 30.5px 43.8px;
  	text-decoration: none;
	border: none;
}

.uit-knop:hover, .uit-knop:focus, .uit-knop:active {
    -webkit-animation-name: uit-knop;
    animation-name: uit-knop;
  	-webkit-animation-duration: 1.5s;
  	animation-duration: 1.5s;
  	-webkit-animation-delay: 0.75s;
  	animation-delay: 0.75s;
  	-webkit-animation-timing-function: linear;
  	animation-timing-function: linear;
  	-webkit-animation-iteration-count: infinite;
  	animation-iteration-count: infinite;
  	color:white;
  	background-color: #F00;
  	text-decoration: none;
  	cursor: pointer;
}

/* Layout gasten.php */

.gasten_form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.layout_gasten {
	width: 100%;
	display: flex;
}

.textfield_gasten {
	margin-right: 100px;
}


.tabelrij {
	width: 80%;
    display: flex;
	border-bottom: ridge;
	border-bottom-color: #F7FDA8;
    align-items: center;
}

.tabelrij_gasten1 {
	width: 98%;
    display: flex;
	border-bottom: ridge;
	border-bottom-color: #F7FDA8;
	font-size: 15px;
	flex-wrap: wrap;
}

.tabelrij_gasten2{
	width: 98%;
	display: flex;
	border-bottom: ridge;
	border-bottom-color: #F7FDA8;
	font-size: 15px;
}

.linkerlinkercell{
    width: 10%;
    display: flex;
}

.linkercell {  
    margin-left: 20px;
    width: 35%;
    display: flex;
}
.middencell {
    width: 35%;
    display: flex;
}

.rechtercell {
    width: 25%;
    display: flex;
}

.guestcell_links {  
    margin-left: 20px;
    width: 20%;
    display: flex;
}

.guestcell_midden {  
    margin-left: 20px;
    width: 45%;
    display: flex;
}

.guestcell_rechts {  
    margin-left: 20px;
    width: 35%;
    display: flex;
}

.linkercell_gasten {
    width: 15%;
    min-width: 15%;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
}

.rechtercell_gasten {
    min-width: 22%;
	width: 22%;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
}

.linkercell_kosten {
    min-width: 50%;
    display: flex;
	flex-wrap: wrap;
}

.rechtercell_kosten {
	min-width: 128px;
    display: flex;
	flex-wrap: wrap;
}

.rechtercell_eventinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15%;
	width: 15%;
    flex-wrap: wrap;
}

.finalform
{
    display: flex;
    justify-content: center;
}

#kiesDatum
{
    white-space: pre-wrap;
    margin-top: 0px;
    width: 80%;
}

.kiesDatum{
	font-size: 14px !important;
	padding: 3px !important;
}

/* Layout Info.php */

.personen {
	display: flex;
	align-items: space-between;
  	margin: 5px 0px 5px 0px;
}

.personen_foto {
	width: 200px;
	height: 200px;
}

.personen p {
	margin: 5px 10px 5px 10px;
}

/* Layout locatiekiezer.php */

#verzend_knop {
  	display: inline-block;
 	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
  	border-radius: 3px;
  	text-shadow: 0px 0px 1px #666666;
  	-webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 0px 0px 1px #666666;
  	box-shadow: 0px 0px 1px #666666;
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	font-family:Roboto Slab;
	text-decoration:none;
	text-transform: uppercase;
	background-color: #FDFEE2;
	color: #666;
  	font-size: 14px;
  	padding: 3px 10px 3px 10px;
	margin: 10px 0px;
  	border: solid #000000 1px;
}

#verzend_knop:hover, #verzend_knop:focus, #verzend_knop:active {
  	background-color: #E9AB1B;
	color: white;
  	cursor: pointer;
}

/* Layout verzendcheck.php */

.layout_verzendcheck{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.form_verzendcheck
{
    display: flex;
    align-items: center;
}

#padding_tabelrij
{
    padding: 5px 0px;
}

.verzendcheck_beschrijving{
	word-wrap: break-word;
}

/* Layout Datumprikker.php */

#calendar{
	width: 75%;
	height: 85%;
	border: 2px solid gray;
	margin: auto;
	border-radius: 5px;

}

#calendar-header{
	height: 10%;
	width: 100%;
	background-color: #693FB2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	font: 2em Calibri;
	color: #AA8DDD;
}
.header-divider{

}
#calendar-body{
	height: 90%;
	width: 100%;
	background-color: #EDEDED;
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
	box-sizing: border-box;
}

#calendar-weekdays{
	height: 16.6%;
	width: 100%;
	background-color: #EDEDED;
	float: left;
}

#calendar-weekdays .calendar-celld{
	height: 100%;
	width: 14.2%;
	background-color: #EDEDED;
	float: left;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font: 1.5em Calibri;
}

.calendar-days{
	height: 15%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.calendar-cell{
	width: 13%;
	background-color: none;
	float: left;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace;
}

div.inactive{
	width: 13%;
	background-color: none;
	float: left;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace;
	color :	#C8CBCC;
}
div.calendar-cell:hover, div.inactive:hover{
	background-color: #8460C7;
	color: white;
}

span.button:hover{
	color: #3C1383;
	cursor: pointer;
}

.button{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 6px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;;
}

/* Layout knoppen */

.verwijderknop {
    width: 20px;
    height: 22px;
	background-image: url(images/delete.png);
	background-position:  0px 1px;
	background-size: 100%;
	background-repeat:no-repeat;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
}

.verwijderknop:hover {
	background-image: url(images/delete_hover.png);
	background-position:  0px 1px;
	background-size: 100%;
	background-repeat:no-repeat;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
}

.verzendknop {
  	display: inline-block;
 	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
  	border-radius: 6px;
  	text-shadow: 0px 0px 1px #666666;
  	-webkit-box-shadow: 0px 0px 1px #666666;
  	-moz-box-shadow: 1px 0px 1px #666666;
  	box-shadow: 1px 1px 1px #666666;
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	overflow: hidden;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	font-family:Roboto Slab;
	text-decoration:none;
	text-transform: uppercase;
	background-color: #FDFEE2;
	color: #666;
  	font-size: 18px;
	margin-top: 10px;
  	padding: 6px 20px 6px 20px;
  	border: 0px;
}

.inputbox{
	font-size:22px !important;
	font-family:inherit;
}

.inputbox_header{
	font-size:25px;
}

.verzendknop:hover, .verzendknop:focus, .verzendknop:active {
  	background-color: #E9AB1B;
	color: white;
  	cursor: pointer;
}
.headertekst{
	padding-top: 15px;
	padding-bottom: 5px;
}

/* Kalender */

#kalender{
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	font-size: 20px;
}

#kalender-header{
	background-color: #FFD39F;
	text-decoration: none;
}

.vorige_volgende
{
    text-decoration: none;
    color:black;
}

.vorige_volgende:hover
{
    text-decoration: underline;
}

.kalender-weekcell{
	text-align: center;
	padding: 15px 40px;
}

.kalender-cell{
    width: 60px;
    height: 40px;
	text-align: center;
	-webkit-transition-duration: 0.35s;
  	transition-duration: 0.35s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	cursor: pointer;
}

.kalender-cell-link{
	text-decoration: none;
    width: 100%;
	color: black;
    padding: 15px 40px;
}

.kalender-cell-ander{
	text-align: center;
	-webkit-transition-duration: 0.35s;
  	transition-duration: 0.35s;
  	-webkit-transition-property: color, background-color;
 	transition-property: color, background-color;
	color: gray;
}

.kalender-cell:hover{
	background-color: #cca351;
	color: white;
}

#kalender-weekrow{
	margin-top: 10px;
}

.kalender-row{
	margin: 2px;
}
.highlight{
    width: 100%;
	font-weight: bold;
}

#kalender-header-text{
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

#datum1{
	color: #FF5465;
}

#datum2{
	color: #5476FF;
}

#datum3{
	color: #7AB85C;
}

#datum4{
	color: #9D4E89;
}

.datums{
	font-weight: bold;
}

/* Layout eventInfo.php */

.kopjes_event_info
{
    margin-top: 40px;   
}

/* Layout error message */

.error_message{
    color: red;
    font-weight:bold;
}
